/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

h1{
	opacity: 0.6;
	font-family: Arial;
	font-size: 14px;
	line-height: 40px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #273d46;
	text-align: center;
	margin-top: 70px;
}

body{
	background-color: #e8e8e8;
}

p{
	font-family: 'Times New Roman';
	font-size: 36px;
	line-height: 50px;
	font-weight: 400;
	color: #273d46;
	text-align: center;
}

.foto1, .foto2{
	position: relative;
}

.foto {
	width: 841px;
	height: 561px;
	margin-left: 190px;
}

.foto1 {
	width: 821px;
	height: 541px;
	margin-top: -525px;
	margin-left: 243px;
}

.p1{
	text-indent: 20px;
	margin-top: 50px;
	opacity: 0.8;
	font-family: 'Times New Roman';
	font-size: 24px;
	line-height: 40px;
	font-weight: 400;
	color: #273d46;
}

.p2 {
	margin-right: 285px;
	opacity: 0.8;
	font-family: 'Times New Roman';
	font-size: 24px;
	line-height: 40px;
	font-weight: 400;
	color: #273d46;
}

.p3{
	margin-top: 30px;
	margin-right: 47px;
	opacity: 0.8;
	font-family: 'Times New Roman';
	font-size: 24px;
	line-height: 40px;
	font-weight: 400;
	color: #273d46;
}

.p4{
	margin-right: 32px;
	opacity: 0.8;
	font-family: 'Times New Roman';
	font-size: 24px;
	line-height: 40px;
	font-weight: 400;
	color: #273d46;
}

.p5{
	margin-right: 512px;
	opacity: 0.8;
	font-family: 'Times New Roman';
	font-size: 24px;
	line-height: 40px;
	font-weight: 400;
	color: #273d46;
}

.list li{
	background-image: url(../img/icons/check_icon_37.png);
	background-position: left;
	background-repeat: no-repeat;
	margin-left: 271px;
	padding: 0px 0px 0px 30px;
	font-family: Arial;
	font-size: 20px;
	line-height: 36px;
	font-weight: 400;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
	color: #273d46;
}

.list .li1{
	font-family: Arial;
	font-size: 20px;
	line-height: 36px;
	font-weight: 400;
	font-style: italic;
	color: #80b7b3;
}

.list .li2{
	font-family: Arial;
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	color: #273d46;
}

.list .li3{
	opacity: 0.3;
	font-family: Arial;
	font-size: 20px;
	line-height: 36px;
	font-weight: 400;
	text-decoration: line-through;
	color: #273d46;
}

.foto3, .foto2{
	position: relative;
}

.foto2{
	margin-left: 240px;
}

.foto3{
	right: 5px;
	bottom: -56px;
	margin-left: 430px;
	z-index: 1;
}

.text1{
	position: relative;
	margin-right: 790px;
	bottom: 80px;
	font-family: Arial;
	font-size: 14px;
	line-height: 40px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffffff;
}
